{% extends 'base/base_top.html' %}

{% block title %}  编辑信息 {% endblock %}

{% block link %}
        <link rel="stylesheet" href="{% static 'css/connect/edit.css' %}">
{%  endblock %}




{%  block content %}

<div class="row">
    <div class="col-md-8 col-xs-8 col-sm-8 col-md-offset-2">
      <div class="box box-primary">
        <div class="box-body">
          <div class="form-group">
            <label for="news-title">标题</label>
            {% if news %}
                <input type="text" class="form-control" id="news-title" name="news-title" placeholder="请输入新闻标题" value="{{ news.title }}">
                {% else %}
                <input type="text" class="form-control" id="news-title" name="news-title" placeholder="请输入新闻标题" autofocus>
            {% endif %}
          </div>

          <div class="form-group">
            <label for="news-content">内容</label>
              {% if news %}
                  <div id="edit_div"></div>
                  <script>
                  window.onload = function () {
                      window.editor.txt.html('{{ news.content|safe }}');
                  }
                  </script>
                  {% else %}
                  <div id="edit_div"></div>
              {% endif %}
          </div>

        </div>
        <div class="box-footer">
          <button class="btn btn-danger"><a id="back_it" href="{% url 'connApp:display' %}" style="color: white"> &lt;&lt;&nbsp;返回</a></button>

          <a href="javascript:void (0);" class="btn btn-primary pull-right btn-pub-news" data-news-id="{{ news.id }}">
              {% if news %}
                    更新动态
                  {% else %}
                    发布动态
              {% endif %}
          </a>
        </div>
      </div>
    </div>
</div>




{% endblock %}





{% block script %}

    <script src="{% static 'js/base/wangEditor.js' %}"></script>
    <script src="{% static 'js/base/xss.js' %}"></script>
    <script src="{% static 'js/connect/edit.js' %}"></script>
{%  endblock %}




