{% extends 'base/base_top.html' %}

{% block title %}  统计分析 {% endblock %}

{% block link %}
        <link rel="stylesheet" href="../../static/css/analyze.css">
{%  endblock %}




{%  block content %}
    {#城市柱状图#}
    {#工作经验饼图#}
    {#学历饼图#}
    {#词云#}
    {#工资图#}

    <div id="alertmessage"></div>

{#    <div class="top" id="top">#}
{#        <div style="width: 100%; height: 70px" id="iframepage" name="iframepage" ></div>#}

    <div class="showMain">
        <!-- 加载地图 -->
        <div class="map" id="mapholder">
            <div  id="qf" onclick="">
                <i class="toolicon icon-quanfu" ></i>
            </div>
        </div>


        <div class="caseInfoChart showMainModel" id="xueli"></div>

        <div class="caseWordCloud showMainModel">
            <div id="wordCloudImg" class="plugin">
            </div>
        </div>

        <div class="monthCaseChart showMainModel" id="city"></div>

        <div class="admRegMonthCase showMainModel" id="money" style="padding-left: 10px;"></div>

        <div class="monitorShowInfo showMainModel" id="jingyan"></div>

        <div class="weekCaseRate showMainModel" id="otherTJ"></div>




    <!--         修改弹窗开始 -->
{#		    <%--职位信息--%>#}
    <div class="showCase1 showCase">

        <div class="showCaseInfo container" style="">
            <div class="showCaseInfoMain">
				<div class="row">
				 <div class="col-md-12 caseList" >职位列表
				 <img src="{% static 'images/position/fold.png' %}" alt="图片未找到!" title="展开" id="upAndD">

				 <span style="display:inline-block; float:right; cursor:pointer" id="closeList">X</span>
				  </div>

				</div>

                <div class="row">
                    <div class="col-md-12" style="width: 909px;padding-right: 0px;">
                        <table id = "theadAndTbody" class="table">
                            <thead>  <tr><th>职位</th><th>公司</th><th>城市</th><th>薪资</th><th>学历</th><th>经验</th> <th>详情</th></tr>  </thead>
                            <tbody>
                                <tr> <td></td> <td></td><td></td><td>查询数据为空!</td>  <td></td> <td></td> <td></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- 修改弹窗结束 -->





        </div>

{#    </div>#}


{% endblock %}





{% block script %}
    <script src="{% static 'js/js2wordcloud/dist/js2wordcloud.min.js' %}"></script>
    <script src="{% static 'js/position/analyze.js' %}"></script>

{%  endblock %}




