body {
  background-color: #eee;
  min-width: 1200px;
}
.form-login {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}




/*============= captcha start ================*/
.form-captcha {
  width: 306px;
  margin-right: 10px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding-left: 0.5em;
  font-size: 18px;

}

.captcha-graph-img {
  float: right;
  width: 120px;
  height: 48px;
  text-align: center;
  font-size: 15px;
  border: 1px solid #3fdaf3;
  border-radius: 5px;
}
.captcha-graph-img img {
  width: 100%;
}
/*============= captcha end ================*/