{% extends 'base/base_top.html' %}

{% block title %}  登录 {%  endblock %}

{% block link %}
{#    <link rel="stylesheet" href="{% static 'css/authPro/auth.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/authPro/login.css' %}">
{%  endblock %}

{% block header %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-login' action="/auth/login/" method="post">

                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

              <h2 class="text-center">欢迎登录</h2>

              <div class="form-group">
                <label for="id_username">用户名：</label>
                <input type="text" name='username' class="form-control" id="id_username" placeholder="Username" autofocus required>
              </div>
              <div class="form-group">
                <label for="id_password">密码：</label>
                <input type="password" name='password' class="form-control" id="id_password" placeholder="Password" required>
              </div>

              <div class="form-group">
                <label for="id_captcha_graph">图形验证码：</label>
                <input type="text" placeholder="验证码" name="captcha_graph" class="form-control form-captcha" id="id_captcha_graph" maxlength="4">
                <a href="javascript:void(0);" class="captcha-graph-img">
                  <img src="{% url 'authPro:graph_captcha' %}" alt="验证码" title="点击刷新">
                </a>
              </div>

              <div>
                  <button id="reg" class="btn btn-danger pull-left"><a href="{% url 'authPro:register' %}" style="color: #FFFFFF">注册</a></button>
                  <button type="submit" class="btn btn-primary pull-right">登录</button>
              </div>

          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}



{#主体#}
{#{% block content %}#}
{#    <!-- container start -->#}
{#    <main id="container">#}
{#        <div class="login-contain">#}
{#            <div class="top-contain">#}
{#                <h4 class="please-login">请登录</h4>#}
{#                <a href="{% url 'authPro:register' %}" class="register">立即注册 &gt;</a>#}
{#            </div>#}
{#            <div class="form-contain">#}
{#                <div class="form-item">#}
{#                    <input type="tel" placeholder="请输入手机号" name="telephone" class="form-control" autocomplete="off">#}
{#                </div>#}
{#                <div class="form-item">#}
{#                    <input type="password" placeholder="请输入密码" name="password" class="form-control">#}
{#                </div>#}
{#                <div class="form-item clearfix">#}
{#                    <label>#}
{#                        <input type="checkbox" name="remember">#}
{#                        <span>记住我</span>#}
{#                    </label>#}
{#                    <a href="javascript:void(0);" class="forget-password">忘记密码?</a>#}
{#                </div>#}
{#                <div class="form-login">#}
{#                    <a href="{% url 'authPro:login' %}" class="login-btn">登录</a>#}
                    {#        <input type="submit" value="登录" class="login-btn">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </main>#}
{#    <!-- container end -->#}
{#{% endblock %}#}
{##}



{% block script %}
{#    <script src="{% static 'js/authPro/auth.js' %}"></script>#}
    <script src="{% static 'js/authPro/login.js' %}"></script>

{% endblock %}

