{% extends 'base/base_top.html' %}

{% block title %}  注册 {%  endblock %}

{% block link %}
{#    <link rel="stylesheet" href="{% static 'css/authPro/auth.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/authPro/register.css' %}">
{%  endblock %}


{% block header %}
{% endblock %}



{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-register' action="{% url 'authPro:register' %}" method="post">

                {% if message %}
                    <div class="alert alert-warning">{{ message }}
                    <span style="display: inline-block; float: right; cursor:pointer" class="small_x">X</span>
                    </div>
                {% endif %}

              <h2 class="text-center">欢迎注册</h2>

              <div class="form-group">
                <label for="id_username">用户名：</label>
                <input type="text" name='username' class="form-control" id="id_username" placeholder="Username" autofocus required>
              </div>
              <div class="form-group">
                <label for="id_email">邮箱：</label>
                <input type="text" name='email' class="form-control" id="id_email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <label for="id_password">密码：</label>
                <input type="password" name='password' class="form-control" id="id_password" placeholder="Password" required>
              </div>
             <div class="form-group">
                <label for="id_password_repeat">确认密码：</label>
                <input type="password" name='password_repeat' class="form-control" id="id_password_repeat" placeholder="Password" required>
              </div>

              <button class="btn btn-danger pull-left"><a href="{% url 'authPro:login' %}" style="color: #FFFFFF">登录</a></button>
              <button type="submit" class="btn btn-primary pull-right">注册</button>

          </form>
        </div>
    </div> <!-- /container -->
{% endblock %}


{% block script %}
    <script src="{% static 'js/authPro/auth.js' %}"></script>
{% endblock %}
